
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: brown;
    font-family:'Courier New', Courier, monospace;
}

/* Main container with Flexbox */
.main-container {
    display: flex;         
    justify-content: center;   /* Center items horizontally */
    align-items: stretch;      /* Ensure child items stretch vertically */
    height: 100vh;             /* Full viewport height */
}

/* Left Section: Board Container */
.board-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 3px solid black;
    height: 100%;               /* Ensure it stretches to full height */
}

/* Right Section: Controls Container */
.controls-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 3px solid black;
    height: 100%;               /* Ensure it stretches to full height */
}

img.pixel {
    image-rendering: pixelated
}

h2 {
    font-size: xx-large;
}